<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header class="home__header py-4">
      <nav class="flex justify-between items-center mx-4">
        <section class="flex-grow-1 w-24 md:w-auto">
          <a href="#">
            <img src="/img/logo.png" alt="logo" />
          </a>
        </section>
        <section class="home__nav--right hidden md:block">
          <ul class="flex items-center">
            <li class="ml-6"><a href=""> Menu </a></li>
            <li class="ml-6"><a href=""> Offers </a></li>
            <li class="ml-6"><a href=""> Register </a></li>
            <li class="ml-6"><a href=""> Login </a></li>
            <li class="ml-6">
              <a href="" class="inline-block"> <img src="/img/cart.png" /> </a>
            </li>
          </ul>
        </section>
        <section class="home__nav--right block md:hidden">
          <i class="fa fa-bars cursor-pointer" aria-hidden="true"></i>
        </section>
      </nav>
    </header>

    <main>
      <section
        class="home__hero px-4 md:px-16 py-8 flex justify-between items-center"
      >
        <div class="home__hero--left w-1/2">
          <h6 class="text-xs md:text-lg">
            <em> Are you hungry?</em>
          </h6>
          <h1 class="font-medium text-xl md:text-5xl py-2 md:py-4">
            Don't Wait !
          </h1>
          <button class="text-sm md:text-base py-1 md:py-2 px-2 md:px-4">
            Order Now
          </button>
        </div>
        <div class="home__hero--right w-1/2">
          <img class="w-auto" src="/img/hero-pizza.png" alt="banner pizza" />
        </div>
      </section>

      <section class="home__menu container mx-2 lg:mx-auto py-8">
        <h2>All Pizzas</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-8 py-4 px-4">
          <section
            class="home__item mr-2 w-full lg:w-4/5 px-2 flex flex-col items-center justify-center"
          >
            <img src="/img/pizza.png" alt="menu item photo" />
            <div class="text-center">
              <h3 class="py-4 text-lg">Margherita</h3>
              <span class="text-xs rounded-full uppercase py-1 px-3">
                small
              </span>
            </div>

            <div class="flex items-center justify-between w-full py-8">
              <h2>$250</h2>
              <button class="home__addToCart px-2 md:px-4 rounded-2xl">
                + Add
              </button>
            </div>
          </section>
          <section
            class="home__item mr-2 w-full lg:w-4/5 px-2 flex flex-col items-center justify-center"
          >
            <img src="/img/pizza.png" alt="menu item photo" />
            <div class="text-center">
              <h3 class="py-4 text-lg">Margherita</h3>
              <span class="text-xs rounded-full uppercase py-1 px-3">
                small
              </span>
            </div>

            <div class="flex items-center justify-between w-full py-8">
              <h2>$250</h2>
              <button class="home__addToCart px-2 md:px-4 rounded-2xl">
                + Add
              </button>
            </div>
          </section>
          <section
            class="home__item mr-2 w-full lg:w-4/5 px-2 flex flex-col items-center justify-center"
          >
            <img src="/img/pizza.png" alt="menu item photo" />
            <div class="text-center">
              <h3 class="py-4 text-lg">Margherita</h3>
              <span class="text-xs rounded-full uppercase py-1 px-3">
                small
              </span>
            </div>

            <div class="flex items-center justify-between w-full py-8">
              <h2>$250</h2>
              <button class="home__addToCart px-2 md:px-4 rounded-2xl">
                + Add
              </button>
            </div>
          </section>
          <section
            class="home__item mr-2 w-full lg:w-4/5 px-2 flex flex-col items-center justify-center"
          >
            <img src="/img/pizza.png" alt="menu item photo" />
            <div class="text-center">
              <h3 class="py-4 text-lg">Margherita</h3>
              <span class="text-xs rounded-full uppercase py-1 px-3">
                small
              </span>
            </div>

            <div class="flex items-center justify-between w-full py-8">
              <h2>$250</h2>
              <button class="home__addToCart px-2 md:px-4 rounded-2xl">
                + Add
              </button>
            </div>
          </section>
          <section
            class="home__item mr-2 w-full lg:w-4/5 px-2 flex flex-col items-center justify-center"
          >
            <img src="/img/pizza.png" alt="menu item photo" />
            <div class="text-center">
              <h3 class="py-4 text-lg">Margherita</h3>
              <span class="text-xs rounded-full uppercase py-1 px-3">
                small
              </span>
            </div>

            <div class="flex items-center justify-between w-full py-8">
              <h2>$250</h2>
              <button class="home__addToCart px-2 md:px-4 rounded-2xl">
                + Add
              </button>
            </div>
          </section>
        </div>
      </section>
    </main>

    <footer></footer>
    <script src="/js/index.js"></script>
  </body>
</html>
