@import "./variable.scss";

.home__header {
  background-color: $pure;
  border-bottom: 1px solid $border-bottom;

  nav {
    .home__nav--right ul {
      li:last-child {
        a {
          background-color: $primary;
          border-radius: 20px;
          padding: 4px 12px;
          padding-left: 20px;
        }
      }

      li:hover {
        color: $primary-hover;
        transition: all 0.25s linear;
        &:last-child {
          a {
            transition: all 0.25s linear;
            background-color: $primary-hover;
          }
        }
      }
    }
  }
}

.hamburger-menu {
  border-top: 0.25px solid #efeeee;
}

.hamburger-menu ul {

  li:last-child {
    a {
      background-color: $primary;
      border-radius: 20px;
      padding: 4px 12px;
      padding-left: 20px;
    }
  }

  li:hover {
    background-color: #e86d3c;
    cursor: pointer;
    transition: all 0.25s linear;
    &:last-child {
      a {
        transition: all 0.25s linear;
        background-color: #e86d3c;
      }
    }
  }
}

.home__hero {
  background-color: $secondary;
  .home__hero--left {
    button {
      background-color: $primary;
      border-radius: 20px;
      color: $pure;
      transition: all 0.25s linear;
      &:hover {
        background-color: $primary-hover;
      }

      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  .home__hero--right {
    img {
      object-fit: contain;
    }
  }
}

.home__menu {
  .home__item {
    span {
      background-color: #efefefa8;
    }
  }
}

.home__addToCart {
  color: $primary;
  border: 1px solid $primary;
  word-spacing: 12px;
  transition: all 0.25s ease-in-out;
  &:hover {
    color: $pure;
    background-color: $primary;
  }

  &:focus {
    outline: none;
  }
}

.cart {
  background-color: $cart-background;
}

.cart-total {
  color: $primary;
}

.cart__back {
  background-color: $primary;
  transition: all 0.25s linear;
  color: $pure;
  &:hover {
    background-color: $primary-hover;
  }
}