@import "./variable.scss";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


.home__header {
  background-color: $pure;
  border-bottom: 1px solid $border-bottom;
  z-index: 100;

  nav {
    .home__nav--right ul {
      li:last-child {
        a {
          background-color: $primary;
          border-radius: 20px;
          padding: 4px 12px;
          padding-left: 20px;
        }
      }

      li:hover {
        color: $primary-hover;
        transition: all 0.25s linear;
        &:last-child {
          a {
            transition: all 0.25s linear;
            background-color: $primary-hover;
          }
        }
      }
    }
  }
}

.hamburger-menu {
  border-top: 0.25px solid #efeeee;
}

.hamburger-menu ul {
  a:last-child {
    li {
      background-color: $primary;
      border-radius: 20px;
      padding: 4px 12px;
      padding-left: 20px;

      &:hover {
        transition: all 0.25s linear;
        background-color: #e86d3c;
      }
    }
  }

  a:hover {
    // background-color: #e86d3c;
    border-bottom: 1px solid #e5e7eb;
    cursor: pointer;
    transition: all 0.25s linear;
    &:last-child {
      border-bottom: none;
    }
  }
}

.home__hero {
  background-color: $secondary;
  .home__hero--left {
    button {
      background-color: $primary;
      border-radius: 20px;
      color: $pure;
      transition: all 0.25s linear;
      &:hover {
        background-color: $primary-hover;
      }

      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  .home__hero--right {
    img {
      object-fit: contain;
    }
  }
}

.home__menu {
  .home__item {
    display: grid;
    grid-template-rows: 1fr auto auto;
    span {
      background-color: #efefefa8;
    }
  }
}

.home__addToCart {
  color: $primary;
  border: 1px solid $primary;
  word-spacing: 12px;
  transition: all 0.25s ease-in-out;
  &:hover {
    color: $pure;
    background-color: $primary;
  }

  &:focus {
    outline: none;
  }
}

.cart,
.orders,
.singleOrder {
  background-color: $cart-background;
}

.cart-total {
  color: $primary;
}

.cart__back {
  background-color: $primary;
  transition: all 0.25s linear;
  color: $pure;
  &:hover {
    background-color: $primary-hover;
  }
}

.noty_theme__mint {
  border-radius: 50px !important;
  padding-left: 8px !important;
}

.orderId {
  color: $primary;
}

// single order page
.singleOrder_status {
  ul {
    li {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 75px;
        width: 2px;
        height: 100%;
        background: black;
        margin-top: 10px;
        transform: translateX(-50%);
      }

      &:last-child::before {
        content: none;
      }

      span {
        position: relative;
        padding-left: 100px;
        &::after {
          content: "";
          height: 10px;
          width: 10px;
          background-color: black;
          position: absolute;
          top: 50%;
          left: 70px;
          transform: translateY(-50%);
          border-radius: 50%;
          -webkit-box-shadow: 0px 0px 0px 6px $cart-background;
          -moz-box-shadow: 0px 0px 0px 6px $cart-background;
          box-shadow: 0px 0px 0px 6px $cart-background;
        }

        &::before {
          font-family: "Line Awesome Free";
          font-size: 40px;
          font-weight: 600;
          position: absolute;
          color: inherit;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}

// icons
.singleOrder_status ul li {
  &:nth-child(1) span::before {
    content: "\f46c";
  }

  &:nth-child(2) span::before {
    content: "\f818";
  }

  &:nth-child(3) span::before {
    content: "\f0d1";
  }

  &:nth-child(4) span::before {
    content: "\f560";
  }
}

// completed and current status
.status_complete {
  color: grey;
  &::before {
    background-color: grey !important;
  }

  span {
    color: inherit;

    &::after {
      background-color: grey !important;
    }
  }

  small {
    color: inherit;
  }
}

.status_current {
  color: $primary;
  span {
    color: inherit;

    &::after {
      background-color: $primary !important;

    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 75px;
    width: 3px;
    border-radius: 2px;
    height: 0;
    margin-top: 10px;
    transform: translateX(-50%);
    animation: loop 3s cubic-bezier(.17,.67,.83,.67) 0s infinite;
  }

  &:last-child::after {
    content: none;
  }

  @keyframes loop {
    0% {height: 0;background-color: $primary;}
    100% {height: 100%;background-color: $primary;}
  }
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

// stripe
.StripeElement {
  background: white;
  padding: 6px 12px;
  margin-left: auto;
}

// footer
footer {
  border-top: 1px solid #dcdcdc66;
}